<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Registro de Ingresos y Salidas</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Registro de Ingresos y Salidas</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/autorizaciones">Autorizaciones</a>
        </nav>
    </header>

    <main>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Código Tarjeta (UID)</th>
                <th>Hora Registrada</th>
                <th>Solicitud</th>
                <th>Resultado</th> <!-- NUEVA COLUMNA -->
            </tr>
        </thead>
        <tbody id="tabla-registro">
            <!-- JS insertará aquí -->
        </tbody>
    </table>

    </main>
    <script>
    async function actualizarTabla() {

    function notificationSound() {
        var audio = new Audio("access_notification.mp3");
        audio.play();
    }

        try {
            const response = await fetch('/api/log');
            const registros = await response.json();

            const tbody = document.querySelector("#tabla-registro");
            tbody.innerHTML = '';

            registros.forEach(registro => {
                const fila = `
                    <tr>
                        <td>${registro.nombre}</td>
                        <td class="uppercase">${registro.codigo}</td>
                        <td>${registro.hora}</td>
                        <td>${registro.estatus}</td>
                        <td>${registro.resultado || ''}</td>
                    </tr>
                `;
                tbody.innerHTML += fila;
               
                if (registro.resultado) {
                    notificationSound();
                }
            });
        } catch (error) {
            console.error("Error al actualizar la tabla:", error);
        }
    }
    actualizarTabla();
    setInterval(actualizarTabla, 500);
</script>

</body>
</html>
